body {
    background-color: #EBEBEB;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
}
@media (min-width: 768px){
    body {
        grid-template-columns: 2fr 5fr 1fr;
    }
}

